beamerthemeGA/texput.log
beamerthemeGA/slides.log
beamerthemeGA/slides.aux
beamerthemeGA/slides.bbl
beamerthemeGA/slides.blg
beamerthemeGA/slides.nav
beamerthemeGA/slides.out
beamerthemeGA/slides.snm
beamerthemeGA/slides.toc
